In [1]:
import h5py

In [2]:
raw_db = h5py.File("d:\\Books\\Data\\20220825_L2Order.h5", "r")

In [6]:
for i, name in enumerate(raw_db):
    print(name)

SH.510050
SH.510300

In [1]:
import pandas as pd

In [4]:
df = pd.read_hdf("d:\\Books\\Data\\20220825_L2Tran.h5", "SH.510300")

In [7]:
df["cul"] = 1

In [9]:
df["cul"] = df["cul"].cumsum()

In [11]:
df.iloc[-500:]

,ActionDate,SeqNo,Channel,ExTime,Price,Volume,Turnover,BidNo,AskNo,BSFlag,cul
34025,20220825,6670595,6,145803370,41800,3000,12540,11416429,11297839,66,34026
34026,20220825,6670596,6,145803370,41800,1000,4180,11416429,11313661,66,34027
34027,20220825,6670597,6,145803370,41800,16200,67716,11416429,11318876,66,34028
34028,20220825,6670598,6,145803370,41800,100,418,11416429,11321680,66,34029
34029,20220825,6670599,6,145803370,41800,1000,4180,11416429,11346749,66,34030
...,...,...,...,...,...,...,...,...,...,...,...
34520,20220825,6673465,6,145957330,41820,15600,65239,11453665,11441020,66,34521
34521,20220825,6673466,6,145957330,41820,700,2927,11453665,11446422,66,34522
34522,20220825,6673547,6,145959600,41820,3500,14637,11457102,11446422,66,34523
34523,20220825,6673552,6,145959850,41820,800,3346,11457876,11446422,66,34524
34524,20220825,6673553,6,145959850,41820,1200,5018,11457876,11447555,66,34525